# [E-14] Movie Recommender System

In [1]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [2]:
# 사용하는 컬럼만 남겨줍니다.
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [3]:
data['artist'] = data['artist'].str.lower() # 검색을 쉽게 하기 위해 아티스트 문자열을 소문자로 바꿔줍시다.
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

In [5]:
# 유저 수
data['user_id'].nunique()

358868

In [6]:
# 아티스트 수
data['artist'].nunique()

291346

In [7]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(50)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
amy winehouse            28210
portishead               28072
rammstein                27161
björk                    27076
kanye west               27016
bloc party               26807
johnny cash              26645
kings of leon            26331
the white stripes        26235
beck                     26223
the doors                25741
oasis                    25735
ac/dc                    25681
the prodigy              25638
madonna                  25469
the smashing pumpkins    25331
iron maiden              25115
jack johnson             24908
franz ferdinand          24520
michael jackson          24283
Name: user_id, dtype: int64

In [8]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [9]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

In [10]:
#artist check
if (data['artist'] == 'sting').any():
    print('in the list')
else:
    print('can not find')

in the list

In [11]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['sting' , 'maroon5' ,'the killers' ,'radiohead' ,'kanye west']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin            sting    30
1                zimin          maroon5    30
2                zimin      the killers    30
3                zimin        radiohead    30
4                zimin       kanye west    30

In [12]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [13]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358868명의 유저에 마지막으로 추가해 준 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['kanye west'])

358868
564

In [14]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868    1048    30
1    358868  270115    30
2    358868      28    30
3    358868     217    30
4    358868     564    30

[17535660 rows x 3 columns]

In [15]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  
# f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

1. 한 번이라도 들었으면 선호한다고 판단한다.
2. 많이 재생한 아티스트에 대해 가중치를 주어서 더 확실히 좋아한다고 판단한다.

### CSR matrix
유저는 36만 명이고 아티스트는 29만 명. 이를 행렬로 표현하고 행렬의 각 원소에 정수 한 개 (1byte)가 들어간다면 36만 * 29만 * 1byte \approx≈ 97GB가 필요.

이러한 Sparse 한 matrix를 압축시켜 효율적인 데이터 크기 연산 효과를 보기 위해서는 CSR Matrix로 변환하여 사용해야 한다.

In [16]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

implicit 패키지는 암묵적(implicit) dataset을 사용하는 다양한 모델을 굉장히 빠르게 학습할 수 있는 패키지이다.

- factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지
- regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지
- use_gpu : GPU를 사용할 것인지
- iterations : epochs와 같은 의미입니다. 데이터를 몇 번 반복해서 학습할 것인지

In [17]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [19]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(
    factors=100, 
    regularization=0.01, 
    use_gpu=False, 
    iterations=15, 
    dtype=np.float32
)

In [20]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [21]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [23]:
zimin, kanye_west = user_to_idx['zimin'], artist_to_idx['kanye west']
zimin_vector, kanye_west_vector = als_model.user_factors[zimin], als_model.item_factors[kanye_west]

In [24]:
zimin_vector

array([-0.6274516 , -0.5043149 ,  0.5879233 ,  1.8397024 , -0.30104247,
        0.7413091 , -0.8545345 , -0.24857706, -0.62484014, -0.4238212 ,
        0.2583302 , -0.59194046, -0.6595856 , -0.13024719, -0.38354224,
        0.121266  ,  0.7264081 ,  0.817308  , -0.39167958, -0.5873192 ,
       -0.42916718,  0.07224175,  0.21662474,  0.6762491 ,  1.335887  ,
        0.9954989 , -1.5738195 ,  0.33458883, -0.22620177, -0.17991237,
       -0.968187  ,  0.95215154, -0.56688654,  1.6158041 , -0.4318208 ,
        1.0717032 , -0.43461657, -0.17549081,  1.3640919 ,  0.06483691,
       -0.13925938,  0.13995649, -0.393517  ,  0.7154974 , -0.09064589,
       -0.6148019 , -0.724209  , -0.3963788 ,  0.4151888 ,  0.7053981 ,
        0.10983855, -0.38016012, -0.46350276,  0.3319844 , -1.1169038 ,
       -0.15339462,  0.44964367, -0.39346412,  0.64262426, -0.95600253,
        0.74325025, -0.11052343,  0.6464426 , -0.58248454, -0.5680125 ,
        0.23247105,  1.1399938 ,  0.30162284,  0.19910371,  0.11301664,
        0.858938  , -0.34975234, -0.12191771,  0.86466545,  0.50131977,
        0.47805974, -0.76514834,  1.5327456 , -0.12260319, -0.5216331 ,
       -0.2197485 , -0.13252878, -1.1356041 ,  0.4961989 ,  0.72447234,
       -0.7092888 ,  0.21058154, -0.5097328 ,  1.6041468 ,  0.53789145,
        1.299021  , -0.49803403,  0.17069384,  0.48597112,  1.0915745 ,
       -0.24430397, -1.1194383 , -0.20452237, -0.2544515 , -1.8127556 ],
      dtype=float32)

In [25]:
kanye_west_vector

array([ 0.01547631, -0.0024309 ,  0.00849199,  0.03501491,  0.00815257,
        0.00782056, -0.00256075, -0.00278063, -0.00764666,  0.02143464,
        0.0037013 , -0.00695556,  0.00021443, -0.0057191 ,  0.01251879,
        0.02691963,  0.00932068,  0.00603133,  0.00610291,  0.00192046,
       -0.00589388,  0.01718142,  0.01511835,  0.00289332,  0.00109883,
        0.00418692, -0.00628268,  0.00139497,  0.00667231, -0.00718459,
       -0.016916  ,  0.01853491,  0.00855516,  0.02103378,  0.01146552,
       -0.00716818,  0.02430995,  0.00466246,  0.01608761,  0.01721684,
        0.00678713, -0.00092729, -0.00145284,  0.00105319, -0.0022171 ,
        0.02073823, -0.00463699,  0.01218718,  0.0052326 ,  0.00153301,
        0.00797443,  0.01159616,  0.0046447 , -0.00530323, -0.0020175 ,
        0.00273753,  0.00516231,  0.00499508,  0.01949861, -0.00916887,
        0.00936327,  0.02227425,  0.0153264 , -0.00140535, -0.00164292,
        0.01391572,  0.01986033,  0.00035656,  0.01157254,  0.00962543,
        0.02902379,  0.00483957, -0.00011716,  0.01151684,  0.01748979,
        0.01330425,  0.00193723,  0.02631065,  0.00323611,  0.00125363,
       -0.00285793,  0.00937223, -0.00695167, -0.01088054,  0.03585039,
        0.00637303,  0.01095953, -0.00249082,  0.02536336, -0.01291898,
        0.01500106,  0.0014416 ,  0.00223848,  0.01059175,  0.03314153,
        0.00083161, -0.00573166,  0.00475309,  0.00445869,  0.01149194],
      dtype=float32)

In [26]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, kanye_west_vector)

0.40372938

In [27]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.4266214

In [28]:
favorite_artist = 'sting'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(1048, 1.0),
 (4675, 0.6810667),
 (335, 0.63610685),
 (1416, 0.63515633),
 (416, 0.62186676),
 (1808, 0.6198482),
 (364, 0.6109416),
 (2236, 0.5899707),
 (6434, 0.58519423),
 (332, 0.58106226),
 (340, 0.5809622),
 (14293, 0.5781221),
 (330, 0.5751367),
 (10172, 0.57332146),
 (1035, 0.57180405)]

In [29]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['sting',
 'peter gabriel',
 'chris rea',
 'simply red',
 'phil collins',
 'annie lennox',
 'seal',
 'al jarreau',
 'chris botti',
 'eurythmics',
 'george michael',
 'spyro gyra',
 'sade',
 'joe cocker',
 'eric clapton']

In [30]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

In [31]:
get_similar_artist('2pac')

['2pac',
 'dr. dre',
 'notorious b.i.g.',
 'the game',
 'nas',
 'jay-z',
 '50 cent',
 'dmx',
 'ice cube',
 'snoop dogg']

In [32]:
get_similar_artist('lady gaga')

['lady gaga',
 'rihanna',
 'britney spears',
 'beyoncé',
 'katy perry',
 'the pussycat dolls',
 'justin timberlake',
 'kelly clarkson',
 'christina aguilera',
 'pink']

In [33]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(62, 0.5088726),
 (247, 0.48718685),
 (418, 0.47062245),
 (5, 0.4701485),
 (277, 0.46898273),
 (490, 0.43357944),
 (268, 0.43222407),
 (910, 0.4282859),
 (75, 0.4266214),
 (473, 0.4232649),
 (694, 0.4187144),
 (1170, 0.41699126),
 (55, 0.4068876),
 (615, 0.40426797),
 (531, 0.40055943),
 (274, 0.40049395),
 (503, 0.39559063),
 (1500, 0.3933441),
 (773, 0.3930096),
 (497, 0.3900773)]

In [34]:
[idx_to_artist[i[0]] for i in artist_recommended]

['coldplay',
 'the beatles',
 'u2',
 'red hot chili peppers',
 'muse',
 'oasis',
 'pink floyd',
 'nirvana',
 'queen',
 'placebo',
 'foo fighters',
 'daft punk',
 'arctic monkeys',
 'moby',
 'depeche mode',
 'michael jackson',
 'green day',
 'gorillaz',
 'nine inch nails',
 'r.e.m.']

In [37]:
red_hot = artist_to_idx['red hot chili peppers']
explain = als_model.explain(user, csr_data, itemid=red_hot)

In [38]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('radiohead', 0.18769118201351312),
 ('the killers', 0.1809845345334417),
 ('kanye west', 0.06809056369243759),
 ('sting', 0.03871428489521714),
 ('maroon5', -0.0002868804300321676)]

#### 내가 선호하는 아티스트 중 radiohead 와 the killers 가 red hot chili peppers 를 추천하는데 큰 기여를 했다. 셋 다 비슷한 시기에 왕성하게 활동했고, 락 밴드라는 점에서 나름 타당한 추천을 받은 것 같다. 그 외에도 좋아하거나 익숙한 아티스트들이 많아서 추천의 결과는 나쁘지 않은 것 같다. 
#### 하지만 노래 추천 결과로 생소하지만 취향을 저격하는 곡들도 나와야 정말 좋은 추천이 아닐까라는 생각이 든다. 예를 들어 재밌게 보긴 했지만 이미 본 영화들만 잔뜩 추천 받는 결과는 받으나 마나 한 결과일 것이라고 생각하기 때문이다.
---

# 영화 추천 시스템 만들기

|평가문항|상세기준|
|:---|:---|
|1. CSR matrix가 정상적으로 만들어졌다.|사용자와 아이템 개수를 바탕으로 정확한 사이즈로 만들었다.|
|2. MF 모델이 정상적으로 훈련되어 그럴듯한 추천이 이루어졌다.|사용자와 아이템 벡터 내적수치가 의미있게 형성되었다.|
|3. 비슷한 영화 찾기와 유저에게 추천하기의 과정이 정상적으로 진행되었다.|MF모델이 예측한 유저 선호도 및 아이템간 유사도, 기여도가 의미있게 측정되었다.|

## 1. 데이터 준비와 전처리

In [52]:
import pandas as pd
import os

rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [53]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

- 별점 데이터는 대표적인 explicit 데이터이지만 implicit 데이터로 간주하고 테스트해 본다.
- 별점을 시청횟수로 해석해서 생각한다.
- 또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외한다.

In [54]:
# ratings 컬럼의 이름을 counts로 바꿉니다.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [55]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [56]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [57]:
ratings = ratings.join(movies.set_index('movie_id'), on='movie_id')
ratings.head(10)

,user_id,movie_id,counts,timestamp,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy
5,1,1197,3,978302268,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
6,1,1287,5,978302039,Ben-Hur (1959),Action|Adventure|Drama
7,1,2804,5,978300719,"Christmas Story, A (1983)",Comedy|Drama
8,1,594,4,978302268,Snow White and the Seven Dwarfs (1937),Animation|Children's|Musical
9,1,919,4,978301368,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical

In [58]:
ratings = ratings.drop(columns=['timestamp'])
ratings.head()

,user_id,movie_id,counts,title,genre
0,1,1193,5,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,My Fair Lady (1964),Musical|Romance
3,1,3408,4,Erin Brockovich (2000),Drama
4,1,2355,5,"Bug's Life, A (1998)",Animation|Children's|Comedy

## 2. 분석하기

- ratings에 있는 유니크한 영화 개수
- ratings에 있는 유니크한 사용자 수
- 가장 인기 있는 영화 30개(인기순)

In [59]:
# movie 수
ratings['movie_id'].nunique()

3628

In [60]:
ratings['user_id'].nunique()

6039

In [61]:
movies['genre'].nunique()

301

### 인기 많은 영화 top 30을 두 가지 방식으로 살펴보기
- movie_count : 시청한 user 수에 대해 살펴본 경우
- movie_count2 : 별점을 시청회수(counts)로 가정했기 때문에 counts에 대해 살펴본 경우

In [62]:
# 인기 많은 영화
movie_count = ratings.groupby('title')['user_id'].count()
movie_count.sort_values(ascending=False).head(30)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: user_id, dtype: int64

In [63]:
movie_count2 = ratings.groupby('title')['counts'].sum()
movie_count2.sort_values(ascending=False).head(30)

title
American Beauty (1999)                                   14449
Star Wars: Episode IV - A New Hope (1977)                13178
Star Wars: Episode V - The Empire Strikes Back (1980)    12648
Saving Private Ryan (1998)                               11348
Star Wars: Episode VI - Return of the Jedi (1983)        11303
Raiders of the Lost Ark (1981)                           11179
Silence of the Lambs, The (1991)                         11096
Matrix, The (1999)                                       10903
Sixth Sense, The (1999)                                  10703
Terminator 2: Judgment Day (1991)                        10513
Fargo (1996)                                             10465
Schindler's List (1993)                                  10317
Braveheart (1995)                                        10125
Shawshank Redemption, The (1994)                         10085
Back to the Future (1985)                                10081
Godfather, The (1972)                                     9965
Princess Bride, The (1987)                                9866
Jurassic Park (1993)                                      9601
L.A. Confidential (1997)                                  9515
Shakespeare in Love (1998)                                9503
Men in Black (1997)                                       9057
Pulp Fiction (1994)                                       9053
Being John Malkovich (1999)                               8964
Groundhog Day (1993)                                      8727
E.T. the Extra-Terrestrial (1982)                         8696
Forrest Gump (1994)                                       8679
Terminator, The (1984)                                    8571
Toy Story (1995)                                          8475
Ghostbusters (1984)                                       8282
Alien (1979)                                              8244
Name: counts, dtype: int64

## 3. 내가 선호하는 영화를 5가지 골라서 ratings에 추가

In [64]:
movies[movies['title'].str.lower().str.contains('gattaca', case=False)]

      movie_id           title                  genre
1607      1653  Gattaca (1997)  Drama|Sci-Fi|Thriller

- movie_id : 2116(반지의 제왕), 2571(Matrix), 356(포레스트검프), 648(미션임파서블), 1653(가타카)
- 위 5편을 user:jw_park, counts : 5로 추가.

In [65]:
favmovie_id = [2116, 2571, 356, 648, 1653]

favmovie_title = []
for i in favmovie_id:
    favmovie_title.extend(list(movies[movies['movie_id'] == i]['title']))

my_movielist = pd.DataFrame({'user_id': ['jw_park']*5, 'movie_id': favmovie_id, 'counts': [5]*5, 'title': favmovie_title})
my_movielist

   user_id  movie_id  counts                          title
0  jw_park      2116       5  Lord of the Rings, The (1978)
1  jw_park      2571       5             Matrix, The (1999)
2  jw_park       356       5            Forrest Gump (1994)
3  jw_park       648       5     Mission: Impossible (1996)
4  jw_park      1653       5                 Gattaca (1997)

In [66]:
if not ratings.isin({'user_id':['jw_park']})['user_id'].any():
    ratings = ratings.append(my_movielist, ignore_index=True)

ratings.tail(10)

,user_id,movie_id,counts,title,genre
836473,6040,1090,3,Platoon (1986),Drama|War
836474,6040,1094,5,"Crying Game, The (1992)",Drama|Romance|War
836475,6040,562,5,Welcome to the Dollhouse (1995),Comedy|Drama
836476,6040,1096,4,Sophie's Choice (1982),Drama
836477,6040,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
836478,jw_park,2116,5,"Lord of the Rings, The (1978)",NaN
836479,jw_park,2571,5,"Matrix, The (1999)",NaN
836480,jw_park,356,5,Forrest Gump (1994),NaN
836481,jw_park,648,5,Mission: Impossible (1996),NaN
836482,jw_park,1653,5,Gattaca (1997),NaN

## 4. CSR matrix

In [67]:
user_unique = ratings['user_id'].unique()
movie_unique = ratings['title'].unique()

user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [68]:
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_data
else:
    print('user_id column indexing Fail!!')

temp_movie_data = ratings['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings):
    print('title column indexing OK!!')
    ratings['title'] = temp_movie_data
else:
    print('title column indexing Fail!!')

ratings

user_id column indexing OK!!
title column indexing OK!!

        user_id  movie_id  counts  title                         genre
0             0      1193       5      0                         Drama
1             0       661       3      1  Animation|Children's|Musical
2             0       914       3      2               Musical|Romance
3             0      3408       4      3                         Drama
4             0      2355       5      4   Animation|Children's|Comedy
...         ...       ...     ...    ...                           ...
836478     6039      2116       5    926                           NaN
836479     6039      2571       5    124                           NaN
836480     6039       356       5    160                           NaN
836481     6039       648       5     58                           NaN
836482     6039      1653       5    431                           NaN

[836483 rows x 5 columns]

- user와 movie titel 모두 새롭게 인덱싱.

In [70]:
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_movie = ratings['title'].nunique()

csr_data = csr_matrix((ratings['counts'], (ratings.user_id, ratings.title)), shape= (num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## 5. als_model = AlternatingLeastSquares 모델로 훈련

In [72]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'
#implicit 에 대한 권장 사항.

In [73]:
als_model = AlternatingLeastSquares(factors=100, 
                                    regularization=0.01, 
                                    use_gpu=False, 
                                    iterations=15, 
                                    dtype=np.float32
                                   )

In [74]:
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [75]:
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

## 6. 나의 선호도 파악

In [77]:
jw_park, lord_rings = user_to_idx['jw_park'], movie_to_idx['Lord of the Rings, The (1978)']
jw_park_vector, lord_rings_vector = als_model.user_factors[jw_park], als_model.item_factors[lord_rings]

In [78]:
jw_park_vector

array([ 0.4714806 ,  0.93544304, -0.05005067,  0.53906095, -0.22761382,
       -0.79423326,  0.83848137, -0.6895746 ,  0.5516725 ,  0.25766385,
       -0.8824933 ,  0.16172376,  0.6974062 ,  0.43591055, -0.0872234 ,
        0.17935   , -0.19186103, -0.48746678,  0.38202304, -1.3914669 ,
        0.32437104, -0.49455345, -0.5813252 , -0.37699524, -0.04914427,
       -0.00282609, -0.2900899 ,  0.22068247,  0.01148424, -0.14827804,
        0.4339205 , -0.1992388 , -0.42467633,  0.0458586 ,  0.5357683 ,
       -0.47069913,  0.3244585 ,  0.5180502 , -0.795991  , -0.01644365,
       -0.626319  , -0.16034408,  0.2615737 , -0.1994924 , -0.21844442,
        0.31320238, -0.30787194, -0.720308  ,  0.7684406 ,  0.5127182 ,
        0.18877624, -0.6381    , -0.678337  ,  0.3366071 ,  0.8917587 ,
        0.29356658,  0.103779  ,  0.26296028,  0.25582734, -0.35205412,
       -0.41798422,  0.47590682, -0.03798304,  0.1955509 , -0.03428151,
       -0.7670914 ,  0.08114054,  0.0200162 ,  0.24474746,  0.08079887,
       -0.06814729, -0.4326934 ,  0.3155601 , -0.5804048 ,  0.20094258,
       -0.4285665 , -0.49057087,  0.6439633 ,  0.389176  ,  0.15885665,
        0.7976922 ,  0.8186498 ,  0.6846343 ,  0.18742476,  0.64060485,
       -0.7110223 ,  0.4801237 , -0.34094828, -0.4310924 ,  0.24004279,
       -0.5506115 ,  0.11979406, -0.6115046 , -0.00939528, -0.20300592,
        0.17769006,  0.13965885,  0.1608968 ,  0.22038643,  1.1245395 ],
      dtype=float32)

In [79]:
lord_rings_vector

array([-0.00331454,  0.03260878,  0.00628967,  0.01001428, -0.00992734,
       -0.00090552,  0.01643414,  0.0047133 ,  0.00779396,  0.01618897,
       -0.01571591,  0.02608273,  0.01464106,  0.00080366,  0.03669908,
        0.02258749, -0.00521909, -0.00260323,  0.00443747, -0.01742892,
        0.0024298 , -0.00034797, -0.02082397, -0.01150579,  0.0182954 ,
       -0.00300197, -0.00691556,  0.00385478,  0.00700736, -0.00087622,
        0.01195143, -0.00827421,  0.00237723,  0.00744388, -0.00717894,
       -0.00392762,  0.01648638,  0.01118931,  0.0070713 ,  0.00750428,
       -0.00753604,  0.01535387,  0.00017112,  0.02463163,  0.00988647,
        0.02923215, -0.00451794,  0.00948893, -0.00255598, -0.0088599 ,
       -0.00401422,  0.01305062,  0.01606097,  0.00483701,  0.0125736 ,
        0.01337776,  0.01145933, -0.00412296,  0.01512191, -0.00740167,
        0.01477029,  0.02921923,  0.00664612,  0.01477485, -0.01295024,
       -0.00242369, -0.00147645,  0.01961732,  0.00706898,  0.02108618,
        0.0209521 ,  0.0114844 ,  0.01442172,  0.02203796,  0.00299595,
       -0.00946844, -0.00912435,  0.00732636,  0.00111755,  0.01847144,
       -0.00818004,  0.00485619,  0.00566834, -0.01156856,  0.00088561,
        0.00944528,  0.00121376,  0.00819098,  0.01138607,  0.01215323,
        0.00225502, -0.00559246,  0.00983402,  0.00343609,  0.00615166,
        0.00836469,  0.01317821, -0.00276711, -0.01475428,  0.00928554],
      dtype=float32)

In [80]:
np.dot(jw_park_vector, lord_rings_vector)

0.14730714

In [81]:
pulp = movie_to_idx['Pulp Fiction (1994)']
pulp_vector = als_model.item_factors[pulp]
np.dot(jw_park_vector, pulp_vector)

0.030097866

In [83]:
MIB = movie_to_idx['Men in Black (1997)']
MIB_vector = als_model.item_factors[MIB]
np.dot(jw_park_vector, MIB_vector)

0.3721387

- 폭 넓은 스타일로 선호하는 영화를 등록해놓은 이유 때문인지 나의 벡터값과 반지의 제왕 벡터값의 내적 값은 그리 좋지 않은 것으로 보였다.
- 하지만 관심없는 영화와 좋아하는 영화 두 편을 각각 비교해보면 유의미하게 나의 취향에 맞는 내적값을 보여주었다.(맨인블랙 > 펄프 픽션)

## 7. 추천 받기

In [86]:
favorite_movie = 'Mission: Impossible (1996)'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=12)
similar_movie

[(58, 1.0),
 (138, 0.5204979),
 (587, 0.44065803),
 (129, 0.42776644),
 (82, 0.42114416),
 (772, 0.4094572),
 (975, 0.40889755),
 (179, 0.40703544),
 (766, 0.40626913),
 (118, 0.3926863),
 (714, 0.38804534),
 (107, 0.38619992)]

In [87]:
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['Mission: Impossible (1996)',
 'True Lies (1994)',
 'Batman Returns (1992)',
 'Conspiracy Theory (1997)',
 'Lost World: Jurassic Park, The (1997)',
 'Rising Sun (1993)',
 'Young Sherlock Holmes (1985)',
 'Rock, The (1996)',
 'GoldenEye (1995)',
 'Con Air (1997)',
 'Waterworld (1995)',
 'Jurassic Park (1993)']

In [91]:
def get_similar_movie(movie_title):
    movie_id = movie_to_idx[movie_title]
    similar_movie = als_model.similar_items(movie_id, N=15)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

In [93]:
get_similar_movie('Gattaca (1997)')

['Gattaca (1997)',
 'Pi (1998)',
 'Dark City (1998)',
 'Contact (1997)',
 'Twelve Monkeys (1995)',
 'X-Files: Fight the Future, The (1998)',
 'Fifth Element, The (1997)',
 'Sneakers (1992)',
 'Net, The (1995)',
 'Cube (1997)',
 'Strange Days (1995)',
 'Total Recall (1990)',
 'Mimic (1997)',
 'Starship Troopers (1997)',
 'Spanish Prisoner, The (1997)']

In [94]:
user = user_to_idx['jw_park']

movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(107, 0.43882018),
 (175, 0.37213874),
 (92, 0.351869),
 (372, 0.282804),
 (62, 0.281529),
 (110, 0.26899222),
 (145, 0.26628998),
 (60, 0.26182783),
 (228, 0.24851209),
 (479, 0.23075704),
 (150, 0.2284536),
 (141, 0.22446385),
 (375, 0.21996921),
 (87, 0.20886154),
 (544, 0.1992926),
 (179, 0.19254377),
 (38, 0.19211653),
 (721, 0.186248),
 (22, 0.1765365),
 (254, 0.17621604)]

In [95]:
[idx_to_movie[i[0]] for i in movie_recommended]

['Jurassic Park (1993)',
 'Men in Black (1997)',
 'Terminator 2: Judgment Day (1991)',
 'X-Men (2000)',
 'Total Recall (1990)',
 'Groundhog Day (1993)',
 'Fifth Element, The (1997)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'X-Files: Fight the Future, The (1998)',
 'Contact (1997)',
 'Independence Day (ID4) (1996)',
 'Fugitive, The (1993)',
 'Face/Off (1997)',
 'Braveheart (1995)',
 'Stargate (1994)',
 'Rock, The (1996)',
 'Sixth Sense, The (1999)',
 'Flight of the Navigator (1986)',
 'Back to the Future (1985)',
 'Pi (1998)']

In [97]:
recommended = movie_to_idx['X-Men (2000)']
explain = als_model.explain(user, csr_data, itemid=recommended)

[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[('Matrix, The (1999)', 0.13076199082418416),
 ('Mission: Impossible (1996)', 0.07261956674996116),
 ('Gattaca (1997)', 0.06505266288939804),
 ('Lord of the Rings, The (1978)', 0.027145052384222688),
 ('Forrest Gump (1994)', -0.016090669986899394)]

## 8. 회고


- 좋아하는 영화에 큰 일관성이 없도록 선택하여서 그런지 'Lord of the Rings, The (1978)'에 대한 내적값이 작게 나왔다.(연도를 보면 내가 알던 것과는 너무 예전 작품이다.)
- 하지만 관심없는 영화와 좋아하는 영화 두 편을 각각 비교해보면 유의미하게 나의 취향에 맞는 내적값을 보여주었다.(맨인블랙 > 펄프 픽션)
- 엑스맨에 대한 기여도를 보았을 때 매트릭스가 1순위인 것을 보아 어느정도 합리적인 결과를 보여주는 것 같다.
- 추천해 준 최종 결과를 보았을 때 대체로 좋은 추천을 받은 것 같다.

#### 다양한 장르나 다양한 스타일에 대한 선택을 했을 경우 더 나은 추천 결과를 낼 수 있게 해주는 방법에는 어떠한 것들이 있는지 궁금하다.